<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>编辑</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/ico">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="yinqi">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <!--标签插件-->
    <link rel="stylesheet" th:href="@{/js/jquery-tags-input/jquery.tagsinput.min.css}">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid p-t-15">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <form action="#!" method="post" class="row">

                        <div class="form-group col-md-12">
                            <label for="username">用户名</label>
                            <input type="text" class="form-control" id="username" name="username" th:value="${admin.username}" placeholder="请输入用户名" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="password">密码</label>
                            <input type="text" class="form-control" id="password" name="password" th:value="${admin.password}" placeholder="请输入密码" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" name="name" th:value="${admin.name}" placeholder="请输入名称" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>头像</label>
                            <div class="form-controls">

                                <ul class="list-inline clearfix lyear-uploads-pic">
                                    <li class="col-xs-4 col-sm-3 col-md-2">
                                        <figure>
                                            <img th:src="${admin.avatar}" alt="图片一">
                                            <figcaption>
                                                <a class="btn btn-round btn-square btn-primary" href="#!"><i class="mdi mdi-eye"></i></a>
                                                <a class="btn btn-round btn-square btn-danger" href="#!"><i class="mdi mdi-delete"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-xs-4 col-sm-3 col-md-2">
                                        <a class="pic-add" id="add-pic-btn" href="#!" title="点击上传"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="sort">排序</label>
                            <input type="text" class="form-control" id="sort" name="sort" th:value="${admin.sort}" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="status">状态</label>
                            <div class="clearfix">
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="status" value="1" th:field="*{admin.status}"><span>禁用</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="status" value="0" th:field="*{admin.status}"><span>启用</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!--标签插件-->
<script th:src="@{/js/jquery-tags-input/jquery.tagsinput.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
</body>
</html>