<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>编辑</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/ico">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="yinqi">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <!--标签插件-->
    <link rel="stylesheet" th:href="@{/js/jquery-tags-input/jquery.tagsinput.min.css}">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <!--对话框-->
    <link rel="stylesheet" th:href="@{/js/jconfirm/jquery-confirm.min.css}">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid p-t-15">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" name="name" th:value="${resource.name}" placeholder="请输入名称" />
                        </div>


                        <div class="form-group col-md-12">
                            <label for="sort">排序</label>
                            <input type="number" class="form-control" id="sort" name="sort" th:value="${resource.sort==null?'0':resource.sort}" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="status">状态</label>
                            <div class="clearfix">
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="status" value="1" th:field="*{resource.status}"><span>禁用</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="status" value="0" th:field="*{resource.status}"><span>启用</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-primary"  th:onclick="submit([[${resource.id}]])">确 定</button>
                            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!--消息提示-->
<script th:src="@{/js/bootstrap-notify.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lightyear.js}"></script>
<!--标签插件-->
<script th:src="@{/js/jquery-tags-input/jquery.tagsinput.min.js}"></script>
<!--对话框-->
<script th:src="@{/js/jconfirm/jquery-confirm.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
    var ctxPath = /*[[@{/}]]*/'';
</script>
<script type="text/javascript" th:src="@{/js/resource/edit.js}"></script>
</body>
</html>